<!-- http://fdietz.github.io/recipes-with-angular-js//using-forms/validating-a-form-model-client-side.html -->

<h3>Contact Details</h3>
<div class="col s12">
    <form name="contactForm" ng-submit="submit()">
        <label for="first_name">Firstname</label>
        <input id="first_name" name="firstname" type="text" ng-model="contact.firstname" class="validate invalid" required/>
        <label for="last_name">Lastname</label>
        <input id="last_name" type="text" ng-model="contact.lastname" class="validate invalid" required/>
        <label for="age">Age</label>
        <input id="age" type="number" ng-model="contact.age" class="validate invalid" required/>
        <br>
        <a class="btn" href="/contacts"><i class="material-icons left">skip_previous</i>Back</a>
        <button class="waves-effect waves-light btn"><i class="material-icons left">done</i>Submit</button>
        <!-- <button class="btn">Submit<i class="material-icons">done</i></button> -->
    </form>
<!-- 
    <br> Firstname input valid: {{contactForm.firstname.$valid}}
    <br> Firstname input invalid: {{contactForm.firstname.$invalid}}
    <br> Firstname input dirty: {{contactForm.firstname.$dirty}}
    <br> Firstname validation error: {{contactForm.firstname.$error}}
     -->
</div>
